ГОТОВО! Мы пришли к точке "ноль" - у нас есть информация о контрагентах и оформленных на них документах. Организуем выгрузку информации и рассылку
Для "выкачки" информации из БД будем использовать движок sqlalchemy, который мы создали шагом ранее

In [13]:
import psycopg2
from pathlib import *
from psycopg2.extensions import ISOLATION_LEVEL_AUTOCOMMIT
import pandas as pd
from sqlalchemy import create_engine, text
import smtplib
from email.mime.multipart import MIMEMultipart
from email.mime.text import MIMEText

В самом начале пробросим необходимые соединения, у нас таких два:
1. С SQL сервером, на котором лежат мои (а может быть и ваши!!!) данные о документах
2. C почтовым сервером, который будет от нашего имени рассылать письма

In [ ]:
user = input('Введите имя пользователя БД')
password = input('Введите пароль для пользователя БД')
host = input('Введите имя хоста, где находится ваша БД')
port = input('Введите адрес порта вашего БД сервера')
bd_name = input('Введите название базы данных для подключения')

try:
    engine = create_engine(f'postgresql://{user}:{password}@{host}:{port}/{bd_name}')
    conn = engine.connect()
    print('Подключение успешно создано')
except:
    print('Подключение к SQL серверу не удалось, проверьте данные для подключения')

In [ ]:
# данные для почты
#password = 'WUAc8xEByy5vaL9pf7zt'
#login = 'bibop.2010@mail.ru'

In [29]:
# Связываемся с SMTP сервером
login = input('Введите адрес электронной почты, от которой будут отправляться письма')
password = 'WUAc8xEByy5vaL9pf7zt'
server = smtplib.SMTP(host='smtp.mail.ru', port=587, local_hostname='comp4')
server.starttls()
server.login(login, password)

Введите адрес электронной почты, от которой будут отправляться письма bibop.2010@mail.ru

(235, b'Authentication succeeded')

In [3]:
#инфо для проверки:
engine = create_engine(f'postgresql://yakovechka:sVas5deneg@localhost:5432/oleg')
conn = engine.connect()

Выгрузим информацию о документах из нашей базы данных, сджойнив таблицу документов с таблицей контрагентов, чтобы
получить их электронные адреса

In [4]:
df = pd.read_sql(text('SELECT docs.index, Дата, Вид, Сумма, Статус, partners.Контрагент, partners.Почта FROM docs INNER JOIN partners ON docs.Контрагент = partners.Контрагент'), conn, index_col = 'index')
df['Контрагент'] = df['Контрагент'].apply(lambda x: x.replace('\"',''))
df = df[df['Статус'] == "Не получен"]
df

,Дата,Вид,Сумма,Статус,Контрагент,Почта
index,,,,,,
11,22.08.2023,Товарная накладная,"12300,00",Не получен,ООО ДЖАЗ,timonin@mail.ru
4,23.08.2023,Акт на оказание услуг,"73466,00",Не получен,ООО ДЖАЗ,timonin@mail.ru
12,24.08.2023,Товарная накладная,"3385,00",Не получен,ООО МИСТЕР ГУДС,man@goods.ru
13,23.08.2023,Акт на оказание услуг,"48000,00",Не получен,ООО МНТ,zakupki@mnt.ru
10,22.08.2023,Акт на оказание услуг,"12000,00",Не получен,ООО МНТ,zakupki@mnt.ru
8,23.08.2023,Акт на оказание услуг,"96000,00",Не получен,ООО РЕСУРС,hml@resurs.ru
7,27.08.2023,УПД,"65485,00",Не получен,ООО РЕСУРС,hml@resurs.ru
3,22.08.2023,УПД,"22455,00",Не получен,ООО РЕСУРС,hml@resurs.ru

In [ ]:
# ПОЛУЧИЛИ ТАБЛИЦУ ВСЕХ ДОКОВ С ПОЧТАМИ. ИЗ НЕЁ НАДО ПОЛУЧИТЬ НЕСКОЛЬКО ТАБЛИЦ С НЕХВАТКАМИ ДОКОВ ПО КАЖДОМУ КОНТРАГЕНТУ

In [7]:
ka = df['Контрагент'].unique()

In [8]:
ka[0]

'ООО ДЖАЗ'

In [10]:
def form_msg(bd_rows):
    bd_rows = [list(i) for i in bd_rows]
    msg = """Уважаемый партнёр! Компания 'Лучшая компания' сообщает, что по итогам проверки обнаружилось отсутствие некоторых закрывающих документов с вашей подписью.
Высылаем реквизиты этих документов в списке ниже и просим поспособствовать их скорейшей доставке в нашу бухгалтерию по адресу: 123007, г. Москва, Хорошевское шоссе, д.5, оф. 231\n
Список документов:"""
    spisok = ''
    for i in bd_rows:
        spisok = spisok + f'\n{i[1]} от {i[0]} на сумму {i[2]} руб'
    full_msg = msg + '\n' + spisok
    return full_msg

In [31]:
# ДЛЯ ОДНОГО КОНТРАГЕНТА
net_zakr_jazz = df.query(f'Контрагент  == "{ka[0]}" & Статус == "Не получен"')
adress = df[df['Контрагент'] == ka[0]]['Почта'][:-1].values[0]
pismo = form_msg(net_zakr_jazz.values.tolist())

mes = MIMEMultipart()
mes['FROM'] = 'bibop.2010@mail.ru'
mes['TO'] = 'bibop.2015@mail.ru'
mes['Subject'] = 'Просим выслать экземпляры документов'
mes.attach(MIMEText(pismo, 'plain'))
server.sendmail(mes['From'], mes['TO'], mes.as_string())

{}